<ul >
  {{#events}}
    <li>
        <img src="hot.gif" /> <span style="font-weight: bold; font-size: 1.5em;">{{ title }}</span> <img src="hot.gif" />
        <p>{{ description }}</p>
        <p>Location: {{ location }}</p>
        <p>Likes: {{ likes }}
        <form method="POST" action="/event/like">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Like">
        </form>
        <form method="POST" action="/event/unlike">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="UN-Like">
        </form>
        </p>
    </li>
  {{/events}}
</ul>